<div class='jumbotron'>
        <h3>Producto Nuevo</h3>
</div>


<%= form_for :formNew, url: usuarios_path, class: 'form-horizontal' do  |p| %>
    <div class='form-group'>
        <%= p.label 'Nombre', class: 'control-label' %>
        <%= p.text_field   :nombre, class:'form-control' %>
    </div>

    <div class='form-group'>
         <%= p.label 'Precio',class: 'control-label' %>
         <%= p.text_field :precio, class:'form-control' %>
    </div>

    <div class='form-group'>
         <%= p.label 'Existencia',class: 'control-label' %>
         <%= p.text_field :existencia, class:'form-control' %>
    </div>

    <div>
        <%= p.submit 'Guardar Producto', class: 'btn btn-lg btn-primary' %>
    </div>
<%end %>

