<h1>Editar un Post</h1>
<% @imgName = @postEdit.imagen %>
<%= form_for :postEdit, :url=>publicacione_path , method: :patch do |p| %>
    <div>
        <%= p.label 'Titulo del Post' %>
        <%= p.text_field :titulo %>
    </div>

    <%begin %>
        <%= image_tag @imgName, :size => '100x100' , alt: 'Imagen vacia' %>
    <%rescue %>
        <p>No hay imagens</p>
    <%end %>
        
    <%= p.file_field :imagen%>

    <div>
        <%= p.label 'Titulo del Post' %>
        <%= p.text_field :titulo %>
    </div>

    <div>
        <%= p.label 'Autor del Post' %>
        <%= p.text_field :autor %>
    </div>

    <div>
        <%= p.label 'Cuerpo del Post' %>
        <%= p.text_area :cuerpo %>
    </div>

    <div>
        <%= p.label 'Fecha del Post' %>
        <%= p.date_field :fecha %>
    </div>

    <div>
        <%= p.submit 'Guardar'  %>
    </div>

<%end %>