<h1>Bienvenido a <%= @titulo %></h1>
<table  class =' table table-striped table table-hover'>
    <tr class='row'>
        <th colspan='3'> Contenido </th>
       
    </tr>

    <%@listaPublicaciones.each do |p| %>
        <tr class='row'>
            <td class='col-md-2'>
                <div>
                    <%begin %>
                        <% if not p.imagen.empty? %>
                            <%= image_tag p.imagen, :size=> '200x200', class:'img-thumbnail'%>
                        <%else %>
                            <p>Imagen vacia</p>
                        <%end %>
                    <%rescue %>
                        <p>Imagen vacia</p>
                        <% p.imagen = 'imagen vacia' %>
                    <%end %>
                </div>
            </td>
            <td class='col-md-9'>
                <div> <h4>Titulo: <strong><i><%= p.titulo + '  '%></i></strong>( <%= p.fecha %> )</h4></div>
                <div class='text-justify'><p><%= p.cuerpo %></p></div>
                <div> Autor: <strong><%= p.autor %> </strong> </div>
            </td>
            <td class='center-block'>
                <%= link_to 'Ver Post', publicacione_path(p) , class:'btn btn-block btn-default'%>
                <%= link_to 'Editar', edit_publicacione_path(p) ,class:'btn btn-block btn-warning'%>
                <%= link_to 'Borrar', publicacione_path(p), class:'btn btn-block btn-danger' ,method: :delete , :data=>{:confirm=>'Desea Borrar El Post'}%>
            </td>
        </tr>
    <%end %>
</table>
<%= link_to 'Nuevo Post', new_publicacione_path %>
